body{
    margin: 0;
    width: 600px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1F2937;
    color: white;
}
span{
    color: #4adf86;
}
#heading{
    width: 300px;
    height: 50px;
    margin: 80px 0 20px 30px;
}
#details{
    margin-left: 30px;
    margin-top: 30px;
}
hr{
    border: 1px solid #2f3e53;
    width: 550px;
}
button{
    background-color: #4adf86;
    color: white;
    margin: 20px 0 10px 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #2f3e53;
}

.container{
    display: flex;
}
.copy{
    width: 150px;
}
.fa-solid fa-copy{
    color: #55f991; 
}

input {
    margin: 20px 0 10px 30px;
    padding: 20px;
    user-select: none;
    height: 15px;
    position: relative;
    width: 100px;
    color: #55f991;
    border-radius: 6px;
    border: none;
    text-align: center;
    outline: none;
    background-color: #273549;
    }
input::placeholder{
        color: #55f991;
    }






